
#red {
  border-top-color: #f00; /* the top side */
}
#orange {
  border-top-color: #ffa500;
}
#yellow {
  border-top-color: #ff0;
}
#green {
  border-top-color: #00bc3f;
}
#blue {
  border-top-color: #06f;
}
#violet {
  border-top-color: #d300c9;
}
#indigo{
  border-top-color: #8a2be2;
}